<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TripGallery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49DDB6AD1EB9C632008F3D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DDB6C41EB9C632008F3D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DDB6CF1EB9C632008F3D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
